.darkkhaki {
    background: darkkhaki;
}
  
@media screen and (orientation: portrait) {
    html {
        /* ~~~~~~~~~~~~~~~KIRI~~~~~~~~~~~~~~ */
        /* transform: rotate(-90deg);
        transform-origin: left top;
        overflow-x: hidden;
        position: absolute;
        top: 230%;
        left: 0; */

        /* ~~~~~~~~~~~~~~KANAN~~~~~~~~~~~~~ */
        transform: rotate(90deg);
        /* transform-origin: right top; */
        /* width: 100vw; */
        position: absolute;
        overflow-x: hidden;
        top: 0;
        right: -100%;

    }
}

#kotak_game {
  font-family: arial;
  display: table;
  position: relative;
  left: 10px;
  width: max-content;
  border: 1px solid;
}

.header_game {
  display: flex;
  justify-content: space-between;
  background: darkseagreen;
  box-shadow: 0 0 5px inset;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.header_game > div > button {
  font-size: 18px;
  vertical-align: top;
}

.header_game > div > button > span {
  font-size: 12px;
  display: inline-block;
  width: 60px;
}

#gameStatus {
  display: inline-block;
  border-radius: 50px;
  border: 2px solid;
  padding: 10px;
}

#papan_game {
  /* display: table-cell; */
  width: 615px;
  height: 515px;
  border: 1px solid;
  margin-right: 10px;
  /* box-shadow: 0 0 5px inset; */
}

.rules_game {
  display: table-cell;
  width: 300px;
  padding: 10px;
  border-left: 1px solid;
  background: tan;
  box-shadow: 0 0 5px;
}

.rules_game > span {
  font-size: 24px;
  font-weight: bold;
}

.rules_game > div {
  padding: 3px;
  border: 2px solid;
}

.rules_game > ul {
  background: orange;
  min-height: 40px;
  max-height: 135px;
  width: 260px;
  word-wrap: break-word;
}

.rules_game > ol {
  background: lightsalmon;
  height: 290px;
  width: 260px;
}

.rules_game > ol, ul {
  margin-right: -5px;
  padding-right: 3px;
  overflow-y: scroll;
  scrollbar-width: thin;
  box-shadow: 0 0 5px inset;
}

.rules_game > ol > details,
.rules_game > ul > details {
  margin: 8px auto auto -10px;
}

.rules_game > ol > details > summary, 
.rules_game > ul > details > summary {
  font-weight: bold;
  cursor: pointer;
}

.rules_game > ol > details, li {
  margin-bottom: 7px;
}

.rules_game > ol > details > button {
  margin: 7px 0 7px 0;
}

.player_info {
  border: 1px solid;
  padding: 5px;
}

.player_info > span:first-child {
  font-size: 16px;
  font-weight: bold;
}

.player_info > .dropdown > .setting_button {
  position: relative;
  z-index: 10;
  padding: 0 10px 0 10px;
  float: left;
  cursor: pointer;
}

.player_info > .dropdown > .setting_arrow {
  display: none;
  position: absolute;
  bottom: 45%;
  right: 20.8%;
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.player_info > .dropdown > .setting_menu {
  display: none;
  position: absolute;
  bottom: 26%;
  right: 22.2%;
  background: bisque;
  border: 2px solid;
  z-index: 10;
}

.player_info > .dropdown > .setting_menu > div {
  padding: 6px 3px 6px 3px;
}

.player_info > .dropdown > .setting_menu > div:nth-child(1n+2) {
  border-top: 1px solid;
}

.player_info > .dropdown > .setting_menu > div:hover {
  background: tan;
  cursor: pointer;
}

.player_info > .dropdown > .setting_menu > div.leaveGame:after {
  content: ':^(';
  font-weight: bold;
}

.player_info > .dropdown > .setting_menu > div.myCityList:after {
  content: ':^)';
  font-weight: bold;
}

.player_info > .dropdown > .setting_menu > div > label {
/*   border: 1px solid; */
  padding: 6px 18px 6px 0px;
  margin: 0 -20px 0 0;
}

.myCityBox {
  display: none;
  position: absolute;
  background: wheat;
  border: 2px solid;
  padding: 4px;
  bottom: 0px;
  left: -10px;
  width: 280px;
  height: 350px;
  cursor: auto;
}

.myCityBox > div:nth-last-child(1n+2) {
  padding: 3px 0 3px 0;
}

.myCityBox > div:nth-child(1n+2) {
  border-top: 1px solid;
}

.myCityBox > div:nth-last-child(1n+2):hover {
  background: yellowgreen;
}

.myCityButton {
  display: flex;
  justify-content: space-between;
}

.myCityButton > button, .transferButton > button {
  margin-top: 14px;
  padding: 5px 15px;
}

.myCityBox > .myCityItem {
  display: grid;
  grid-template-columns: auto auto 50px;
}

.transferBox {
  display: none;
  position: absolute;
  background: limegreen;
  border: 2px solid;
  padding: 4px;
  bottom: 0px;
  left: -10px;
  width: 280px;
  cursor: auto;
}

.transferBox > .transferItem {
  display: grid;
  grid-template-columns: auto 90px 50px;
  grid-gap: 5px;
}

.transferBox > div {
  margin-bottom: 5px;
}

.transferButton {
  border-top: 1px solid;
  margin-top: 10px;
}

.transferTutup {
  float: right;
}

.player_list {
  display: grid;
  grid-template-columns: 110px auto 50px;
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid;
  cursor: pointer;
}

.player_list > .kartuBuffDebuff::before {
  content: '\1F4D1';
  display: flex;
  justify-content: center;
  border-left: 1px solid;
}

.kartuBuffDebuffList {
  display: none;
  position: absolute;
  right: 5%;
  margin-top: -1.5%;
  padding: 2px 5px 2px 40px;
  background: yellow;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 0 0;
  overflow: hidden;
}

.kartuBuffDebuffList > li {
  margin-left: -18px;
  margin-bottom: 0;
}

.player_list > span[id]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 29%;
  right: 14%;
  background: yellow;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid;
}

.transferSetting {
  position: absolute;
  background: lightblue;
  border: 1px solid;
}

.transferSetting > div {
  padding: 5px;
}

.transferSetting > div:nth-child(1n+2) {
  border-top: 1px solid;
}

.transferSetting > div:hover {
  background: yellowgreen;
}

.transferHeading {
  border-bottom: 1px solid;
}

.reset_file {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 999;
  background: lightsalmon;
  padding: 5px;
  border: 1px solid;
  width: 100px;
  height: 100px;
}

.reset_file > button {
  width: 40px;
  height: 30px;
  margin-top: 7px;
}

#resetYes {
  margin-right: 14px;
}

.dialog_wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50px;
  z-index: 999;
  width: 76%;
  height: 92%;
}

.dialog_info {
  position: absolute;
  top: 20%;
  left: 35%;
  z-index: 999;
  background: MediumSeaGreen;
  padding: 0 8px 8px;
  border: 1px solid;
  line-height: 20px;
}

.dialog_info > div {
  display: grid;
  grid-template-columns: 140px 150px;
  gap: 8px;
}

.dialog_info > div.dialogTitle > h3 {
  grid-column: 1 / 2 span;
  text-align: center;
  margin: 8px;
}

.dialog_info > div > span {
  background-color: wheat;
  padding: 4px;
}

.dialog_info > div > span:nth-child(2n+1):after {
  content: ">";
  float: right;
}

.editModsDialog {
  background: wheat;
  width: 300px;
  padding: 5px;
  position: absolute;
  top: 20%;
  left: 50%;
  border: 1px solid;
}

.editModsDialog > h4 > [class^=editMods] {
  float: right;
}

.saveMods {
  text-align: center;
}

#closeModsButton, #closePlayerButton, #closeProfilButton, #logoutProfilButton,
#register, #login, #closeRegLogButton, #closeAdminButton, #saveModsButton {
  margin: 8px auto 0;
}

#closeModsButton, #closePlayerButton, #closeAdminButton, #saveModsButton {
  grid-column: 1 / 2 span;
  height: 30px;
  width: 50%;
}

#closeProfilButton, #logoutProfilButton, #register, #login, #closeRegLogButton {
  height: 30px;
  width: 100%;
}

.setting_mods {
  display: none;
  position: absolute;
  top: 5%;
  left: 30%;
  z-index: 999;
  background: MediumSeaGreen;
  padding: 5px;
  border: 1px solid;
}

.setting_mods > div:first-child {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid;
  text-align: center;
  margin: 5px 0 5px 0;
}

.setting_mods > .mods_item {
  margin-top: 10px;
}

.setting_mods > .mods_item:nth-last-child(1n+2) {
  border-bottom: 2px dashed;
  padding-bottom: 7px;
}

.setting_mods > .mods_item > button {
  width: 50px;
  height: 30px;
  margin: 0 20px 0 20px;
}

.infoArea {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
  position: absolute;
  z-index: 99;
  top: 45%;
  left: 30%;
  width: 230px;
  text-align: center;
}

.userNameSpan > input {
  width: 70px;
  border-radius: 4px;
}

.urutanGiliran {
  grid-column-end: span 2;
}

.confirm_box {
  position: absolute;
  z-index: 100;
  top: 40%;
  left: 28%;
  padding: 8px 0;
  background: lightskyblue;
  border: 1px solid;
  border-radius: 7px;
  width: 300px;
  text-align: center;
}

.confirm_box > input {
  display: table-cell;
  margin: 0 5px 5px 5px;
  height: 30px;
  max-width: fit-content;
  min-width: 50px;
}

.confirm_box > div {
  padding-bottom: 10px;
  line-height: 20px;
}

.feedback_box {
  position: absolute;
  width: 270px;
  height: 200px;
  border: 1px solid;
  border-radius: 7px;
  background: mediumaquamarine;
  top: 275px;
  right: 440px;
  padding: 3px;
  text-align: center;
  opacity: .3;
}

.feedback_box::before {
  content: 'kotak notifikasi';
  border-bottom: 1px solid;
  padding: 0 50px 0 50px;
}

.feedback_box > div {
  margin-top: 5px;
}

[class^='stick'] {
  margin-top: 7px;
  position: relative;
}

.pdiv::before, .pdiv.show::before {
  content: attr(id);
  position: absolute;
  z-index: 10;
  background: lightblue;
  padding: 2px;
  border: 1px solid;
  margin-top: -10px;
}

.pdiv.hide:hover:before {
  content: attr(id);
  position: absolute;
  z-index: 10;
  background: lightblue;
  padding: 2px;
  border: 1px solid;
  margin-top: -10px;
}

[class^='petak'] {
  display: grid;
  grid-template-columns: auto auto;
  background: rgba(0, 204, 102, .3);
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid;
}

[class^='petak']::before {
  content: attr(title);
  background: lightsalmon;
  position: relative;
  z-index: 1;
  min-width: 20px;
  max-width: fit-content;
  height: 20px;
  padding: .5px;
  border-radius: 3px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

[class^='petak'] > span {
  position: absolute;
  z-index: 1;
  margin: 68px 0 0 4px;
  font-size: 12px;
  width: 92px;
  background: rgba(245, 222, 179, .8);
}

[class^='petak'] > span.area_normal {
  background: rgb(51, 102, 204, .7);
  filter: blur(16px);
  padding: 30px;
  width: 10px;
  margin: 20px 15px;
  border-radius: 50px;
}

[class^='petak'] > span.area_buff {
  background: rgb(210, 105, 30, .7);
  filter: blur(16px);
  padding: 30px;
  width: 10px;
  margin: 20px 15px;
  border-radius: 50px;
}

[class^=kota][title]:hover::after, [class^=area][title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -60%;
  left: 0;
  right: 0;
  background: yellow;
}

[class*=danaUmum] {
  color: blue;
}

[class*=kesempatan] {
  color: crimson;
}

.putaranBuff:hover::after {
  content: attr(data-buff);
  position: absolute;
  background: wheat;
  padding: 5px;
  width: 230px;
  border: 1px solid;
}

.bonusTransfer, .petNormaldanBuff {
  margin-left: -20px;
}

br {
  display: block;
  margin-top: 0;
  content: '';
}

.mods_confirm {
  display: none;
  position: absolute;
  z-index: 999;
  top: 1%;
  left: 7%;
  padding: 10px;
  background: crimson;
  color: snow;
}

.mods_confirm > input {
  width: 50px;
}

.koin_1, .koin_2, .koin_3 {
  margin: 4px;
  border: 1px solid;
  border-radius: 100%;
  width: 50px;
  height: 50px !important;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
/********* UANG BERTAMBAH/KURANG ***********/
.uangPlayer.plus {
  animation-name: moneyPlus;
  animation-duration: 3s;
}

.uangPlayer.minus {
  animation-name: moneyMinus;
  animation-duration: 3s;
}

@keyframes moneyPlus {
  from {background: greenyellow;}
  to {background: transparent;}
}

@keyframes moneyMinus {
  from {background: salmon;}
  to {background: transparent;}
}

/********* DADU ROLL ***********/
.game {
  position: absolute;
  width: auto;
  height: 100%;
}

.container {
  position: relative;
  display: inline-block; 
}

.dice {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}

.dice-one {
  visibility: hidden;
  margin: 30px 0 0 100px;
}

.side {
  position: absolute;
  background-color: #ffF;
  border-radius:5px;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(1em); }

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(1em); }

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(1em); }

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(1em); }

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(1em); }

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(1em); }

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg); }

.show-2 {
  transform: rotateX(-900deg) rotateZ(1080deg); }

.show-6 {
  transform: rotateY(-450deg) rotateZ(-1440deg); }

.show-3 {
  transform: rotateY(810deg) rotateZ(720deg); }

.show-4 {
  transform: rotateX(-810deg) rotateZ(-1080deg); }

.show-5 {
  transform: rotateX(450deg) rotateZ(-720deg); }

.two-1, .three-1, .four-1, .five-1, .six-1 {
  top: 33%;
  left: 33%;
}

.four-3, .five-3, .six-4 {
  top: 33%;
  left: 93%; }

.one-1, .three-2, .five-5 {
  top: 63%;
  left: 63%; }

.four-2, .five-2, .six-3 {
  top: 93%;
  left: 33%; }

.two-2, .three-3, .four-4, .five-4, .six-6 {
  top: 93%;
  left: 93%; }

.six-2 {
  top: 63%;
  left: 33%; }

.six-5 {
  top: 63%;
  left: 93%;
}

  